<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhisperVoiceInput"
        tools:targetApi="31" >
        <activity
            android:name=".RecognizeActivity"
            android:exported="true"
            android:label="@string/title_activity_recognize"
            android:clearTaskOnLaunch="true"
            android:launchMode="standard"
            android:theme="@style/Theme.RecognizerInput">

            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WhisperVoiceInput" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WhisperRecognizerService"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/whisper_recognition_service"
            android:permission="android.permission.RECORD_AUDIO" >
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service" /> <!-- is this necessary? -->
        </service>
    </application>

</manifest>